<nav class="nav">
    <a class="log" href="/"><span class="logo">Cahee</span></a>
    <label class="menu">
      <input class="menu__input" type="checkbox">
      <span class="menu__burger burger">
        <img class="burger__image" src="/assets/svg/burger.svg" alt="burger">
      </span>
    
      <!-- MENU LIST -->
      <span class="menu__box">
        <span class="menu__list">
          <span class="menu__item">
            <a class="menu__link" href="#">Home</a>
          </span>
          <span class="menu__item">
            <a class="menu__link" href="#anchor-about">About</a>
          </span>
          <span class="menu__item">
            <a class="menu__link" href="#anchor-services">Services</a>
          </span>
          <span class="menu__item">
            <a class="menu__link" href="#anchor-gallery">Gallery</a>
          </span>
          <span class="menu__item">
            <a class="menu__link" href="#anchor-blog">Blog</a>
          </span>
          <span class="menu__item">
            <a class="menu__link" href="#anchor-contakt">Contakt</a>
          </span>
        </span>
      </span>
    </label>
  </nav>