<div class="choose" id="anchor-choose">
    <div class="choose__section">
        <div class="choose__text-area">
        <h2 class="choose__title">Why Choose Us</h2>
        <ul class="choose__list">
            <li class="choose__list-text indent">Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee </li>
            <li class="choose__list-text">Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.</li>
        </ul>
    </div>
    <div class="choose__image-area">
        <img src="/assets/images/choose-house.png" alt="" class="choose__image-house">
        <img src="/assets/images/choose-mountain.png" alt="" class="choose__image-mountain">
    </div>
    </div>
</div>