<div class="header" id="anchor-header">
    <div class="header__section">
        <a href="#" class="header__title">
            <h2 class="header__title">Bhromaon</h2>
        </a>
        <p class="header__text">Safe Travel Anywhere</p>
        <form action="" class="header__search">
            <input type="text" placeholder="Search Your Travel Destination" class="header__input">
            <button class="header__buttom">
                <img src="/assets/svg/header-optic.svg" alt="" class="header__optic">
                <span class="header__buttom-text">Search</span>
            </button>
        </form>
        <a href="#anchor-menu" class="header__scroll">
            <span class="header__scroll-text">Scroll Down</span>
            <i class="fas fa-chevron-down"></i>
        </a>
</div>