<div class="menu" id="anchor-menu">
    <div class="menu__section">
        <a href="#anchor-header"><h2 class="menu__logo">Bhromaon</h2></a>
        <ul class="menu__nav">
            <li class="menu__link"><a href="#anchor-header">Who We Are</a></li>
            <li class="menu__link"><a href="#anchor-works">What We Do</a></li>
            <li class="menu__link"><a href="#anchor-section">Travel With Us</a></li>
            <li class="menu__link"><a href="#anchor-footer">Contact Us</a></li>
        </ul>
    </div>
</div>