<div class="section-bottom">
    <div class="section-bottom__section">
        <div class="section-bottom__area">
            <ul class="section-bottom__list">
                <li class="section-bottom__element-list">Spain </li>
                <li class="section-bottom__element-list">Grand Spain Madrid</li>
                <li class="section-bottom__element-list">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</li>
                <li class="section-bottom__element-list">
                    <button class="section-bottom__buttom"><span class="section-top__buttom-color">Book Now</span></button>
                </li>
            </ul>
        </div>
    </div>
</div>