<div class="testimonial" id="anchor-termionial">
    <div class="testimonial__section">
        <h2 class="testimonial__title">What Our  Tourist Say</h2>
        <div class="testimonial__sumos">
            <img src="/assets/images/testimonial-people.png" alt="" class="testimonial__images">
            <div class="testimonial__area">
           <span class="testimonial__area-title">Sam Sumon</span>
           <div class="testimonial__text">
                <img src="/assets/images/testimonial-quotes.png" alt="" class="testimonial__quotes">
                <span class="testimonial__area-text">But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system</span>
            </div>
        </div>
    </div>
</div>