<div class="works" id="anchor-works">
    <div class="works__section">
        <img src="/assets/images/works-shape.png" alt="" class="works__title-svg">
        <div class="works__area-places">
        <div class="works__places">
            <img src="/assets/svg/works-glass.svg" alt="" class="works__svg">
            <span class="works__text">Search Places</span>
        </div>
        <div class="works__places ">
            <img src="/assets/svg/works-dizlike.svg" alt="" class="works__svg">
            <span class="works__text">Select Places</span>
        </div>
        <div class="works__places">
            <img src="/assets/svg/works-like.svg" alt="" class="works__svg">
            <span class="works__text">Book & Enjoy</span>
        </div>
    </div>
    </div>
</div>