$style: menu;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.#{$style} {
  height: 100%;
  @include flex-col(center, center);
  position: relative;
  background-color: white;
  /*@include media {
    display: none;
  }*/

  &__input {
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    visibility: hidden;
    opacity: 0;
    &:checked ~ .#{$style}__box {
      visibility: visible;
      // display: block;
      background-color: rgba(black, 0.5);
      .#{$style}__list {
        transform: translateX(0);
      }
    }
  }
  &__burger {
    //align-self: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  &__box {
    top: 100%;
    right: 0;
    left: 0;
    top: 71px;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    visibility: hidden;
    // display: none;
    @include transition(visibility, opacity, background-color);
    transition-duration: 1s;
    // animation-name: fadeIn;
    // animation-duration: 1s;
    // animation-timing-function: ease;
  }
  &__list {
    padding: 24px 0;
    transform: translateX(200%);
    background-color: white;
    width: 100%;
    @include flex-col;
    @include transition(transform);
  }
  &__item {
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 14px;
    }
  }
  &__link {
    width: 100%;
    padding: 12px 24px;
  }
}
.burger__image {
  width: 30px;
  height: 30px;
}
.log {
  //@include flex(center, flex-start);
  float: left;
  padding-top: 5px;
  //@include flex(center, center);
}
.logo {
  font-family: $base-font-log;
  font-size: 30px;
  font-weight: 400;
  color: $black;
}
.menu__color {
  color: $black;
}
/*.menu__burger {
  @include flex(center, center);
}*/
.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 72px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(black, 0.42);
  padding: 0 24px;
  @include flex(space-between, center);
  z-index: 5;
}
@media screen and (min-width: 600px) {
  .nav {
    display: none;
  }
}
