.choose {
  width: 100%;
  height: 685px;
  overflow-x: hidden;
  background-image: url(/assets/images/choose-bg.png);
  background-size: cover;
  color: $white;
  &__section {
    max-width: 1100px;
    width: 100%;
    margin: 120px auto;
    display: flex;
  }
  &__buttom {
    width: 225px;
    height: 60px;
    background-color: #5474fd;
    color: $white;
    font-family: $font-text;
    font-size: 16px;
    font-weight: 400;
    margin-top: 48px;
    @include flex(center, center);
  }
  &__text-area {
    margin-top: 84px;
    //max-width: 530px;
    //width: 530px;
    width: 65%;
    width: 100%;
  }
  &__title {
    font-family: $font-text;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 62px;
  }
  &__list {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: #e8e8e8;
  }
  &__image-area {
    max-width: 475px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
  }
  &__image-house {
    width: 80%;
    align-self: flex-start;
    margin-bottom: 5px;
    object-fit: cover;
  }
  &__image-mountain {
    width: 80%;
    align-self: flex-end;
    object-fit: cover;
  }
  @media screen and (max-width: 700px) {
    &__section {
      max-width: 350px;
      width: 100%;
      margin: 0 auto;
      @include flex-col(center);
    }
    &__text-area {
      @include flex-col(center);
    }
    &__title {
      text-align: center;
    }
    &__buttom {
      margin: 10px auto;
    }
    &__image-house {
      width: 180px;
      padding: 0;
      align-self: center;
    }
    &__image-mountain {
      width: 180px;
      padding: 0;
      align-self: center;
    }
    &__image-area {
      //@include flex-col(space-around);
    }
    &__image-area {
      padding-left: 0;
    }
    &__buttom {
      width: 350px;
    }
  }
}
@media screen and (max-width: 700px) {
  .choose {
    height: 750px;
  }
}
.indent {
  margin-bottom: 40px;
}
